body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  height: 100%;
}

html {
  height: 100%;
}
a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

#app {
  height: 100%;
}

div.image-tile {
  border: 1px solid black;
}

div.image-tile div {
  height: 400px;
}

div.image-tile div img {
  max-height: 100%;
}
